.text-white {
  color: white;
}

.bg-blue {
  background-color: rgb(18, 15, 41);
}

p {
  color: white;
}

.navbar-nav {
  justify-content: baseline;
  align-items: end;
  margin-bottom: 0;
}

.reserve-box {
  color: white;
  border-style: solid;
  border-width: 3px;
}

.logo {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 10px;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Dosis", serif;
}

.splash-pic {
  background-image: url(/assets/header.jpg);
  
  background-position: center;
  background-size: cover;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.splash-container {
  background-color: #000324c8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 50rem;
  text-align: center;
  margin-bottom: 7rem;
  margin-top: 10rem;
  color: white;
  font-family: "Dosis", serif;
}

.bottom-box {
  background-color: white;
  align-items: flex-end;
  z-index: 1;
  margin: 0;
  display: flex;
}

.bg-white {
  background-color: white;
  display: flex;
  
}

.awards-container{
    display: flex;
    justify-content: center;
    margin-left: 392.5px;
    margin-right: 392.5px;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
    height: 200px;
    

}

img{
    height: auto;
}