.text-white {
  color: white;
}

.bg-blue {
  background-color: rgb(18, 15, 41);
}



.navbar-nav {
  justify-content: baseline;
  align-items: end;
  margin-bottom: 0;
}

.reserve-box {
  color: white;
  border-style: solid;
  border-width: 3px;
}

.logo {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 10px;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Dosis", serif;
}

.splash-pic {
  background-image: url(/assets/header.jpg);
  
  background-position: center;
  background-size: cover;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.splash-container {
  background-color: #000324c8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 50rem;
  text-align: center;
  margin-bottom: 7rem;
  margin-top: 10rem;
  color: white;
  font-family: "Dosis", serif;
}

.bottom-box {
  background-color: white;
  align-items: flex-end;
  z-index: 1;
  margin: 0;
  display: flex;
}

.bg-white {
  background-color: white;
  display: flex;
  
}

.awards-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
    justify-content: center;
    text-align: center;
    margin-top: 13rem;
    height: 416px;
    
    margin-bottom: 9rem;
    justify-content: space-between;
}



.award-header{
  font-size: 34px;
}


p{
  font-size: 16px;
}

.room-section{
  background-image: url(/assets/bg2.jpg);
  
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Dosis', 'serif';
  
}

.rooms{
  display: flex;
  
}

.card{
  margin-left: .5rem;
  margin-right: .5rem;
  object-fit: fill;
  display: flex;
  margin-bottom: 3rem;
}

.package-pic{
  height: 234px;
  width: 561px;
  display: grid;

  
  
}

.package-container{
  display: grid;
  font-family: 'Dosis', 'serif';

  grid-template-rows: repeat(3, auto);
  margin-top: 3rem;
  
  
  margin-bottom: 3rem;
  text-align: left;
  margin: 0 auto;
  gap: 3rem;
  max-width: 1100px;
}

.package-text{
 
  display: grid;
  
  
  
}

.room-header{
  font-size: 32px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
}

.package-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
  margin-top: 1rem;
}